<!-- _includes/contact.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Subscribe to Our Newsletter</title>
</head>
<body>
 /* load cloudflare icons */
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />

  <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/
  formbutton("create", {
    action: "https://formspree.io/f/xqkvandb",
    buttonImg: "<i class="fa-thin fa-message fa-fade" style="color: #00acfd;">",
    title: "Subscribe To Our Newsletter",
    fields: [
      {
        type: "email",
        label: "Email:",
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "Optional: Leave us a comment.",
      },
      { type: "submit" }
    ],
    styles: {
      title: {
        backgroundColor: "#139BFC"
      },
      button: {
        backgroundColor: "#139BFC"
      }
    }
  });
</script>
</body>
</html>
